.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100px;
  justify-content: center;
  
}

.col {
  display: flex;
  justify-content: center;
  border: solid 2px black;
  width: 10%;
  text-align: center;
  background-color: rgba(100, 148, 237, 0.796);
  align-items: center;

}
.row.cabecera {
  height: 50px;
  font-weight: bold;
}

.pelis {
  border: solid 2px black;
  width: 75%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.row.cabecera .pelis {
  justify-content: center;

}
.tabla {
  margin: 30px;
}
.conteiner-pelis {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cardpeli {
  display: flex;
  position: relative;
  width: 100px;
  height: 100px;
  background-color: rgba(137, 43, 226, 0.405);
  border-radius: 10px;
  border: solid 2px black;
  margin: 10px;
  justify-content: center;
  align-items: center;
  
}
.agregar {
  display: flex;
  justify-content: left;
  font-size: 1.3em;
  margin-top: 20px;

}
.pelinueva{
  margin-right: 15px;
  margin-left: 15px;
}
label {
  font-size: 1.3em;
}
button {
  font-size: 1em;
  padding: 5px;
}
.row .cardpeli {
  width: 70px;
  height: 70px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.delete {
  position: absolute;
  align-self: baseline;
  background-color: #c30000;
  margin: 5px;

}
.nombrePeli {
  position: absolute;
}
